*{
    font-family: cursive;
}
.footer-container{
    display: flex;
    column-gap: 50px;
}
.footer-h{
    font-size: 25px;
    color: #FFEFFF;
    text-align: center;
    padding-top: 120px;
    font-weight: 500;
}
.footer-p{
    color: #FFEFFF;
    margin-top: 0px;
}
#p1{
    margin-left: 750px;
}
#p2{
    margin-top: 0px;
    margin-left: 780px;
}
#con{
    display: flex;
    column-gap: 30px;
    margin-top: 0px;
}
.footer-outer-container{
    background-color: #132C48;
    margin-top: 100px;
    height: 500px;
}
.lowerpara{
    color: #FFEFFF;
    text-align: center;
    margin-top: 50px;
}
.footer-img-container{
    display: flex;
    column-gap: 25px;
}
.footer-img{
    width: 40px;
    height: 40px;
}
#social-img{
    margin-left: 825px;
}