.profile-underline{
    width: 1100px;
    margin-left:450px;
    border: 1px black solid;
}
.ac{
    margin-top: 50px;
    margin-left: 470px;
    font-size: 20px;
}
.username{
    margin-left: 470px;
    font-size: 20px;
}
.profile-underline1{
    margin-top: 0px;
    height:1000px;
    margin-left:130px;
    border-left: 1px black solid;
}
.profile-outer-container{
    display: flex;
}
.list{
    margin-top: 50px;
    list-style-type: none;
}
.list-content{
    margin-top: 40px;
    font-size: 20px;
    margin-left: 470px;
}
.link{
    color: black;
}