.outer-container{
    width: 1222px;
    height: 821px;
    flex-shrink: 0;
    border-radius: 30px;
    /* background: #F5F5F5; */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    column-gap: 165px;
    margin-left: 350px;
    margin-top:30px;
    /* background: linear-gradient(to right, blue, orange) ; */
    /* background-image: linear-gradient(45deg, blue, orange); */
    background-image: linear-gradient(45deg, blue, #ff7f50, orange);

}
.Welcome-img{
    width: 463px;
height: 551px;
flex-shrink: 0;
margin-top: 100px;
margin-left: 80px;
}

.logo{
    height: 300px;
    width: 300px;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 0px;
}
.sign{
color: #132C48;
font-family: Inter;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-top: 0px;
}
.log-button{
margin-top: 25px;
margin-left:60px;
width: 300px;
height: 50px;
border-radius: 25px;
background: #FE8551;
}
.log{
color: #FFFEFF;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top:5px;
}
